.product {
    border: rgb(48, 157, 157) double 8px;
    margin: 30px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    font-weight: 600;

}

button {
    margin: 10px;
    background-color: rgb(35, 122, 122);
    padding: 10px 15px;
    border: 0;
    border-radius: 15px;
    font-weight: 800;
}